.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.board{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;

}

.column{
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  margin: 8px;
  width: 30%;
}

.col-title{
  background-color: lightgray;
  
}

.task{
  background-color: whitesmoke;
  margin: 2% 1%;
  border-radius: 4px;
  min-height: 150px;
  padding: 2%;
}

.task-popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.task-popup-content{
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  margin: 2% 1%;
  border-radius: 4px;
  min-height: 150px;
  min-width: 150px;
  padding: 2%;
}

.close{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}